<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To - Do</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="text-stone-100 bg-stone-900">
	<header class="mb-4 bg-stone-800 border-b border-stone-700">
		<div class="container mx-auto px-6 py-2">
			<h1 class="text-4xl font-bold font-mono">To Do</h1>
		</div>
	</header>
	<main class="container mx-auto px-6">
		<!-- Task Lists -->
		<section class="">
			<!-- - Section Header -->
			<div class="py-2 flex justify-between items-center border-b border-stone-500/50">
				<h2 class="text-stone-100/75 text-2xl font-semibold">Task Lists</h2>
				<!-- Add Tast Button -->
				<button class="pl-3 pr-4 py-1 flex items-center gap-1 bg-stone-800 rounded-full">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
  						<path fill-rule="evenodd" d="M4 2a1.5 1.5 0 0 0-1.5 1.5v9A1.5 1.5 0 0 0 4 14h8a1.5 1.5 0 0 0 1.5-1.5V6.621a1.5 1.5 0 0 0-.44-1.06L9.94 2.439A1.5 1.5 0 0 0 8.878 2H4Zm4.75 4.75a.75.75 0 0 0-1.5 0v1.5h-1.5a.75.75 0 0 0 0 1.5h1.5v1.5a.75.75 0 0 0 1.5 0v-1.5h1.5a.75.75 0 0 0 0-1.5h-1.5v-1.5Z" clip-rule="evenodd" />
					</svg>	
					Add
				</button>
			</div>
			<!-- - Section Body -->
			<div class="p-4 bg-stone-800/50 rounded-2xl">
				<h3 class="text-xl">List Title</h3>
				<ul>
					<li>Task 1</li>
					<li>Task 2</li>
					<li>Task 3</li>
				</ul>
			</div>
		</section>
	</main>
</body>
</html>